<div class="admin-panel">
  <h6>{{type|title}} Administration: {{item.get_link}}</h6>
  <ul class="inline-list">
    <li><a href="{{item.get_edit_url}}"><i class="fa fa-pencil"> </i> Edit this {{type}}</a></li>
    <li><a href="{{item.get_remove_url}}"><i class="fa fa-eraser"> </i> Delete this {{type}}</a></li>
    {% if item.class_name == 'show' %}
    <li><a href="{% url 'show-auditions' slug=item.slug %}"><i class="fa fa-pencil"> </i> Add/edit auditions</a></li>
    <li><a href="{% url 'show-remove-auditions' slug=item.slug %}"><i class="fa fa-eraser"> </i> Delete auditions</a></li>
    <li><a href="{% url 'show-technical' slug=item.slug %}"><i class="fa fa-pencil"> </i> Add/edit technical team advert</a></li>
    <li><a href="{% url 'show-remove-technical' slug=item.slug %}"><i class="fa fa-eraser"> </i> Delete technical team advert</a></li>
    <li><a href="{{item.get_applications_url}}"><i class="fa fa-pencil"> </i> Add/edit director/producer applications</a></li>
    {% elif item.has_applications %}
    <li><a href="{{item.get_applications_url}}"><i class="fa fa-pencil"> </i> Add/edit show applications</a></li>
    {% endif %}
    {% if admin %}
    <li><a href="{{item.get_admins_url}}"><i class="fa fa-pencil"> </i> Edit the {{type}}'s admins</a></li>
    {% endif %}
    {% if approve %}
    {% if approved %}
    <li><form action="{{item.get_unapprove_url}}" method="post">{% csrf_token %}<a href="#" onclick="$(this).parent().submit(); return false;"><i class="fa fa-times-circle"> </i> Unapprove this {{type}}</a></form></li>
    {% else %}
    <li><form action="{{item.get_approve_url}}" method="post">{% csrf_token %}<a href="#" onclick="$(this).parent().submit(); return false;"><i class="fa fa-check-circle"> </i> Approve this {{type}}</a></form></li>
    {% endif %}
    {% endif %}
    {% if staff %}
    <li><a href="{{item.get_admin_interface_url}}"><i class="fa fa-key"> </i> View in admin interface</a></li>
    <li><a href="{{item.get_log_url}}"><i class="fa fa-newspaper-o"> </i> View logs</a></li>
    {% endif %}
  </ul>
    {% if not approved %}
    <p>This {{type}} is not currently approved, and as such not publicly visible. </p>
    {% endif %}
  {% if admin %}
  <p> The following people and/or groups can edit this {{type}}:
    {% for user in users %}{% if not forloop.first %}, {% endif %}{% if user.get_full_name %}{{user.get_full_name}}{% elif user.email %}{{user.email}}{% else %}{{user.username}}{% endif %}{% endfor %}{% for group in groups %}, {% if group.venue %}{{group.venue.get_link}}{% elif group.society %}{{group.society.get_link}}{% else %}{{group.name}}{% endif %}{% endfor %}
  </p>
  {% if pending_users %}
  <p>The following people will be admins, pending account creation:
    {% for user in pending_users %}{% if not forloop.first %}, {% endif %}{{user.email}}{% endfor %}</p>
  {% endif %}
  {% if admin_requests %}
  <p>The following people have requested to become admins:
    {% for request in admin_requests %}{% if not forloop.first %}, {% endif %}{{request.user.email}}{% endfor %}</p>
  {% endif %}
{% endif %}
</div>
