<div class="admin-panel">
  <h6>{{type|title}} Administration: <a href="{% url 'display' item.get_cname item.slug %}">{{item.name}}</a></h6>
  <ul class="inline-list">
    <li><a href="{% url 'edit' item.get_cname item.slug %}"><i class="fa fa-pencil"> </i> Edit this {{type}}</a></li>
    <li><a href="{% url 'remove' item.get_cname item.slug %}"><i class="fa fa-eraser"> </i> Delete this {{type}}</a></li>
    {% if item.is_show %}
    <li><a href="{% url 'related_edit' model_name=item.get_cname submodel_name='auditions' slug=item.slug %}"><i class="fa fa-pencil"> </i> Add/edit auditions</a></li>
    <li><a href="{% url 'related_remove' model_name=item.get_cname submodel_name='auditions' slug=item.slug %}"><i class="fa fa-eraser"> </i> Delete auditions</a></li>
    <li><a href="{% url 'related_edit' model_name=item.get_cname submodel_name='technical' slug=item.slug %}"><i class="fa fa-pencil"> </i> Add/edit technical team advert</a></li>
    <li><a href="{% url 'related_remove' model_name=item.get_cname submodel_name='technical' slug=item.slug %}"><i class="fa fa-eraser"> </i> Delete technical team advert</a></li>
    <li><a href="{% url 'applications_edit' model_name=item.get_cname slug=item.slug %}"><i class="fa fa-pencil"> </i> Add/edit director/producer applications</a></li>
    {% elif item.has_applications %}
    <li><a href="{% url 'applications_edit' model_name=item.get_cname slug=item.slug %}"><i class="fa fa-pencil"> </i> Add/edit show applications</a></li>
    {% endif %}
    {% if admin %}
    <li><a href="{% url 'change_admins' model_name=item.get_cname slug=item.slug %}"><i class="fa fa-pencil"> </i> Edit the {{type}}'s admins</a></li>
  </ul>
  <p> The following people and/or groups can edit this {{type}}:
    {% for user in users %}{% if not forloop.first %}, {% endif %}{% if user.get_full_name %}{{user.get_full_name}}{% elif user.email %}{{user.email}}{% else %}{{user.username}}{% endif %}{% endfor %}{% for group in groups %}, {% if group.venue %}{{group.venue.get_link}}{% elif group.society %}{{group.society.get_link}}{% else %}{{group.name}}{% endif %}{% endfor %}
  </p>
  {% else %}
</ul>
{% endif %}
</div>
