{% load staticfiles %}
{% load drama_admin %}
{% load pipeline %}
<!DOCTYPE html>
<html>
  <head>
    <link rel='icon' href='/static/favicon.png' type='image/png' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/humanity/jquery-ui.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/js/foundation.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/js/vendor/modernizr.js"></script>
    {% javascript 'vendor' %}
    {% javascript 'app' %}
    {% stylesheet 'app' %}
    {% stylesheet 'vendor' %}
    <title>{% block title %}{% endblock %} - Camdram</title>
    {% block extra_headers %}{% endblock %}
  </head>
  
  <body>
    <div id="wrapper"> 
      <nav id="header-bar">
	<section>
	  <ul class="left hide-for-small">
            <li><a href="{% url 'about' %}">
		About</a>
	    </li>
	    <li><a href="{% url 'development' %}">
		Development</a>
	    </li>
	    <li><a href="{% url 'contact-us' %}">
		Contact Us</a>
	    </li>
	  </ul>
	  
	  <ul class="right">
	    {% if user.is_authenticated %}
	    <li id="account-link">
	      <a href="#" data-dropdown="account-dropdown" data-options="is_hover:true">{% if user.get_full_name %}{{user.get_full_name}}{% elif user.email %}{{user.email}}{% else %}{{user.username}}{% endif %}</a>
	      <ul id="account-dropdown" class="topbar-dropdown" data-dropdown-content="" data-options="align_right">
		<li><a href="{% url 'password_change' %}"><i class="fa fa-cogs fa-fw"></i> Account Settings</a></li>
		<li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Log out</a></li>
        </ul>
    </li>
	    {% else %}
	    <li><a href="{% url 'registration_register' %}">Create an account</a></li>
	    <li id="login-link"><a href="{% url 'login' %}">Log in</a></li>
	    {% endif %}
	  </ul>
	</section>
      </nav>
      <header>
	<div class="row">
	 <div class="large-3 columns logo">
	   <h1><a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="camdram" title="camdram"/></a></h1>
	 </div>
	 <div class="large-9 columns search">
	  <form method="get" action="/search" class="searchform" id="search_form">
	    <i class="fa fa-search"></i>
	    {% if form.q %}{{form.q}}{% else %}{{search_form.q}}{% endif %}
	    <div class="results">
	      <ul></ul>
	      <div class="noresults">No results found for &quot;<span class="query"></span>&quot;</div>
              <div class="fulltext"><a href="#">...perform a search for &quot;<span class="query"></span>&quot;</a></div>
	    </div>
            <i class="fa fa-spinner fa-spin"></i>
	  </form>
	 </div>
	</div>
      </header>
      <nav class="top-bar" data-topbar role="navigation">
	<section class="top-bar-section">
	  <ul class="left">
	    {% for id,item in navitems_default %}
	    <li{% if id == current_pagetype %} class="active"{% endif %}>
	      <a href="{{item.path}}">{{item.text}}</a>
	    </li>
	    {% endfor %}
	  </ul>
	  <ul class="right">
	    <li class="has-dropdown">
              <a href="#" id="nav-edit-link" ><i class="fa fa-edit"></i></a>
              <ul id="edit-menu" class="dropdown">
		{% block extra_menu %}{% endblock %}
		{% default_menu %}
	      </ul>
	    </li>
	  </ul>
	</section>
      </nav>
      <section id="content">
	{% block content %}{% endblock %}
      </section>
    </div>
    <footer>
      <div id="sitemap" class="row">
        <div class="large-4 columns">
          <h5>Site Map</h5>
	  {% for id,item in navitems_default %}
	  <a href="{{item.path}}">{{item.text}}</a><br />
	  {% endfor %}
	</div>
	<div class="large-4 columns">
            <h5>Vacant Positions</h5>
            <a href="{% url 'technical' %}">Technical</a><br/>
            <a href="{% url 'auditions' %}">Actors</a><br/>
            <a href="{% url 'applications' %}">Directors/Producers</a><br/>
        </div>
        <div class="large-4 columns">
          <h5>About</h5>
          <a href="{% url 'about' %}">About Camdram</a><br/>
          <a href="{% url 'development' %}">Development</a><br/>
          <a href="{% url 'privacy' %}">Privacy policy</a><br/>
          <a href="{% url 'contact-us' %}">Contact Us</a><br/>
        </div>
      </div>
      
      <div id="copyright" class="row">
        <p>&copy; Association of Cambridge Theatre Societies and contributing groups 2004 &#8212; 2014.
          Comments &amp; queries to <a href="mailto:websupport@camdram.net">websupport@camdram.net</a>
        </p>
      </div>
    </footer>
<script> $(document).foundation(); </script>
  </body>
</html>
