{% extends "drama/base.html" %}
{% load pipeline %}

{% block title %}Diary{% endblock %}

{% block extra_headers %}
{% javascript 'diary' %}
<script>
var diary_start = moment({{start|date:'U'}}, 'X')
var diary_end = moment({{end|date:'U'}}, 'X')
$(function () {
var diary = new Diary({});
diary.initialize();
});
</script>
{% endblock %}

{% block content %}
<h3>Diary</h3>
<div class="row">
  <div class="large-6 columns">
    <a id="load_today" class="button small" href="{% url 'diary' %}">This Week</a>
    <a id="load_previous" class="button small" href="{% url 'diary' week=prev|date:'Y-m-d' %}">Previous Week</a>
  </div>
  <div class="large-6 columns text-right">
    <form method="get" action="{% url 'diary_jump' %}" id="diary_jump_form">
      Jump to {{jump_form.year}}{{jump_form.term}}<button class="small submit">Go</button>
    </form>
  </div>
</div>
{{diary|safe}}
{% endblock %}
