{% extends "drama/base.html" %}
{% load drama_admin %}

{% block title %}Home{% endblock %}

{% block extra_headers %}
<script>
$(function () {
$('.ui-dragable').draggable({'axis':'x'});
$('.week-link').click(function () {
    $('#home-diary-nav ul').children('.current').removeClass('current')
    $(this).addClass('current')
    var id = $(this).attr('id');
    var current = $('#home-diary').children().not('.hide');
    current.addClass('hide')
    $('#home-diary').children('[data-start='+id+']').removeClass('hide')
});
});
</script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    <h3>Welcome to Camdram <small>- the portal website for student theatre in Cambridge</small></h3>
  </div>
</div>

<div class="row">
  <div id="home-diary-container" style="height: auto;">
    <div id="home-diary-nav">
      <ul class="ui-dragable">
	{% for week in weeks %}
	<li class="week-link{% if week.current %} current{% endif %}" id="{{week.start_date|date:'Y-m-d'}}"><a>{{week.name}} <em>{{week.label}}</em></a></li>
	{% endfor %}
      </ul>
    </div>
    <div id="home-diary">
      {% for week in weeks %}
      {{week.diary | safe}}
      {% endfor %}
    </div>
  </div>
</div>

<div class="row">
  <div class="large-5 columns">
    <div id="home_statistics">
      <h5>This week</h5>
      <p>
	<strong>{{performances}}</strong> performance{% if performances > 1 %}s{% endif %} of <strong>{{shows}}</strong> show{% if shows > 1 %}s{% endif %} {% if performances > 1 %}are{% else %}is{% endif %} happening in <strong>{{venues}}</strong> venue{% if venues > 1 %}s{% endif %} involving <strong>{{people}}</strong> {% if people > 1 %}people{% else %}person{% endif %}
      </p>
    </div>
    <div id="home_vacancies">
      <h5>Get Involved</h5>
      <ul>
	{% for audition in auditions %}
	<li>{{audition.audition.show.get_link}} is holding auditions in {{audition.location}} from {{audition.start_time}} to {{audition.end_datetime.time}} on {{audition.end_datetime|date:'D dS F'}} - <a href="{% url 'audition-item' slug=audition.audition.show.slug %}">more details</a></li>
	{% endfor %}
	{% for techiead in techieads %}
	<li>{{techiead.show.get_link}} is looking for: {% for role in techiead.techieadrole_set.all %}{% if not forloop.first %}, {% endif %}{{role.name}}{% endfor %} - <a href="{% url 'techiead-item' slug=techiead.show.slug %}">more details</a></li>
	{% endfor %}
	{% for societyapp in societyapps %}
	<li>{{societyapp.society.get_link}} has announced: {{societyapp.name}} - <a href="{% url 'application-item' slug=societyapp.society.slug %}">more details</a></li>
	{% endfor %}
	{% for venueapp in venueapps %}
	<li>{{venueapp.venue.get_link}} has announced: {{venueapp.name}} - <a href="{% url 'application-item' slug=venueapp.venue.slug %}">more details</a></li>
	{% endfor %}
	{% for showapp in showapps %}
	<li>{{showapp.show.get_link}} has announced: {{showapp.name}} - <a href="{% url 'application-item' slug=showapp.show.slug %}">more details</a></li>
	{% endfor %}
      </ul>
    </div>
    {% if last_year or 2_years or 5_years %}
    <div id="home_historic">
      <h5>This time...</h5>
      <dl class="tabs" data-tab>
	{% if last_year %}
	<dd class="active"><a href="#panel1">last year</a></dd>
	{% endif %}
	{% if 2_years %}
	<dd ><a {% if last_year %}{% else %}class="active"{% endif %} href="#panel2">2 years ago</a></dd>
	{% endif %}
	{% if 5_years %}
	<dd ><a {% if last_year or 2_years%}{% else %}class="active"{% endif %} href="#panel3">5 years ago</a></dd>
	{% endif %}
      </dl>
      <div class="tabs-content">
	{% if last_year %}
	<div class="content active" id="panel1">
	  <ul>
	    {% for item in last_year %}
	    <li>
	      <h6>{{item.get_link}}</h6>
	      <div class="show_info">
		{{item.get_venue}}
	      </div>
	      {{item.desc | truncatechars_html:50}}
	    </li>
	    {% endfor %}
	  </ul>
	</div>
	{% endif %}
	{% if 2_years %}
	<div class="content{% if last_year %}{% else %} "active"{% endif %} " id="panel2">
	  <ul>
	    {% for item in 2_years %}
	    <li>
	      <h6>{{item.get_link}}</h6>
	      <div class="show_info">
		{{item.get_venue}}
	      </div>
	      {{item.desc | truncatechars_html:50}}
	    </li>
	    {% endfor %}
	  </ul>
	</div>
	{% endif %}
	{% if 5_years %}
	<div class="content{% if last_year or 2_years %}{% else %} "active"{% endif %}" id="panel3">
	  <ul>
	    {% for item in 5_years %}
	    <li>
	      <h6>{{item.get_link}}</h6>
	      <div class="show_info">
		{{item.get_venue}}
	      </div>
	      {{item.desc | truncatechars_html:50}}
	    </li>
	    {% endfor %}
	  </ul>
	</div>
	{% endif %}
      </div>
    </div>
    {% endif %}
  </div>
  <div class="large-7 columns">
    <h4>News</h4>
    <hr />
    {% for item in news %}
    {% include 'drama/news_post.html' %}
    {% endfor %}
  </div>
</div>
<script>
 $(document).foundation();
</script>
{% endblock %}
