{% extends "drama/base.html" %}
{% load drama_admin %}
{% block title %}Person: {{person.name}}{% endblock %}

{% block extra_menu %}
<li><a href="{% url 'person-link' slug=person.slug %}"><i class="fa fa-chain fa-fw"></i> This is me</a></li>
{% endblock %}

{% block content %}
<div class="row">
  {% admin_panel object %}
  <div class="large-12 columns panel">
    <div id="entity-header">
      <h2>{{object.name}}</h2>
    </div>
    <p>{{object.desc}}</p>
  </div>
</div>
{% if object.get_current_roles %}
<h4>{{object.name}} is currently involved with</h4>
{% for role in object.get_current_roles %}
<div>
  <h5>{{role.show.get_link}} - {{ role.role.get_link }}</h5>
  <p>{% for performance in role.show.performance_set.all %}
	{% include "drama/performance_listing.html" %}
    {% endfor %}</p>
  <p>{{role.show.desc}}</p></div>
{% endfor %}
{% endif %}

{% if object.get_future_roles %}
<h4>{{object.name}} is preparing for</h4>
<ul class="large-block-grid-2">
  {% for role in object.get_future_roles %}
  <li>
  <h5>{{role.show.get_link}} - {{ role.role.get_link }}</h5>
    <p>{% for performance in role.show.performance_set.all %}
	{% include "drama/performance_listing.html" %}
      {% endfor %}</p>
    <p>{{role.show.desc|truncatechars:200}}</p></li>
  {% endfor %}
</ul>
{% endif %}

{% if object.get_past_roles %}
<h4>{{object.name}} has been involved with</h4>
<ul class="no-bullet">
{% for role in object.get_past_roles %}
<li>
  <h5>{{role.show.get_link}} - {{ role.role.get_link }}</h5>
  <p>{% for performance in role.show.performance_set.all %}
	{% include "drama/performance_listing.html" %}
    {% endfor %}</p></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
