{% extends "drama/base.html" %}

{% block title %}Show: {% if object %}{{object.name}} - Edit{% else %}Create{% endif %}{% endblock %}

{% block content %}
<div class="row">
  <h3>Edit Show</h3>
  <form action="" method="post">
  {% csrf_token %}
  {% include "drama/form_field.html" with field=content_form.name %}
  {% include "drama/form_field.html" with field=content_form.author %}
  <div class="row">
    <div class="large-3 columns">
      <label class="right inline required">Dates and times</label>
    </div>
    <div class="large-9 columns">
      <div class="performances entity_collection">
	{{performance_formset.management_form}}
	{% for form in performance_formset %}
	<div class="performance">
	  {{form.id}}
	  {{form.show}}
	  <div class="row">
	    <div class="large-1 column">
	      <label class="{{form.start_date.css_classes}} right inline" for="{{form.start_date.id_for_label}}">
		{{form.start_date.label}}
	      </label>
	    </div>
	    <div class="{{form.start_date.css_classes}} large-3 columns">
	      {{form.start_date}}
	      {% for error in form.start_date.errors %}
	      <small class="error">{{error}}</small>
	      {% endfor %}
	    </div>
	    <div class="large-1 column end_date">
	      <label class="{{form.end_date.css_classes}} right inline" for="{{form.end_date.id_for_label}}">
		{{form.end_date.label}}
	      </label>
	    </div>
	    <div class="{{form.end_date.css_classes}} large-3 columns end_date">
	      {{form.end_date}}
	      {% for error in form.end_date.errors %}
	      <small class="error">{{error}}</small>
	      {% endfor %}
	    </div>
	    <div class="large-1 column">
	      <label class="{{form.time.css_classes}} right inline" for="{{form.time.id_for_label}}">
		{{form.time.label}}
	      </label>
	    </div>
	    <div class="{{form.time.css_classes}} large-3 columns">
	      <div class="right">
		{{form.DELETE}}
	      </div>
	      {{form.time}}
	      {% for error in form.time.errors %}
	      <small class="error">{{error}}</small>
	      {% endfor %}
	    </div>
	  </div>
	  <div class="row venue-row">
	    <div class="large-3 columns">
	      <label class="{{form.venue.css_classes}} right inline" for="{{form.venue.id_for_label}}"> {{form.venue.label}} </label>
	    </div>
	    <div class="{{form.venue.css_classes}} large-9 columns">
	      {{form.venue}}
	      {% for error in form.venue.errors %}
	      <small class="error">{{error}}</small>
	      {% endfor %}
	    </div>
	  </div>
	</div>
	{% endfor %}
      </div>
      <ul class="inline-list right performance-links">
        <li> <a href="#" class="add_link">Add date range</a></li>
      </ul>
    </div>
  </div>
  {% include "drama/form_field.html" with field=content_form.society %}
  {% include "drama/form_field.html" with field=content_form.desc %}
  {% include "drama/form_field.html" with field=content_form.image %}
  {% include "drama/form_field.html" with field=content_form.year %}
  <button type="submit">Save</button>
  </form>
</div>
{% endblock %}
