{% extends "drama/base.html" %}
{% block title %}Show: {{show.name}}{% endblock %}
{% load drama_admin %}

{% block content %}
<div class="row">
    {% admin_panel show %}
  <div class="large-12 columns panel">
      <p class="show-society">{{show.society.get_link}} presents...</p>
      <h2>{{show.name}}<br />{% if show.author %}<small>By {{show.author}}</small>{% endif %}</h2>
    {% if show.image %}
    <div class="large-3 columns text-center">
      <a href="{{show.image.url}}" class="fancybox"><img src="{{show.image.url}}" /></a>
    </div>
    <div class="large-9 columns">
  {% endif %}    
      <p>
	{% for performance in performances %}
	{% include "drama/performance_listing.html" %}
	{% endfor %}
      </p>
     <p>{{show.desc}}</p>
    </div>
    {% if show.image %}</div>{% endif %}
</div>
{% if techiead or auditions or applications %}
<div class ="row">
  <div class="vacancies-panel">
    <h5> Get involved with <em>{{show.name}}</em>:</h5>
    {% for application in applications %}
    <p>{{application.name}} - <a href="{% url 'item' model_name='applications' slug=application.slug %}">more details</a></p>
    {% endfor %}
    {% if auditions %}
    <p>Auditions are being held at the times below - <a href="{% url 'item' model_name='auditions' slug=show.slug %}">more details</a></p>
    <ul>
    {% for instance in auditions %}
    <li>{{instance.end_datetime|date:"D dS F"}}, {{instance.start_time|date:"g:iA"|lower}} - {{instance.end_datetime|date:"g:iA"|lower}}, {{instance.location}}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% if techiead %}
    <p>We are looking for: {% for role in techiead.techieadrole_set.all%}{{role.name}}{% include "drama/comma.html" %} {% endfor %}- <a href="{% url 'item' model_name='technical' slug=show.slug %}">more details</a></p>
    {% endif %}
  </div>
</div>
{% endif %}
<div class="row">
  <div class="large-{% if band or can_edit%}4{% else %}6{% endif %} columns">
    <h3> Cast </h3>
    <div class="sortable-cast">
      {% include "drama/company_list.html" with roles=cast %}
    </div>
    {% if can_edit %}
    <form action="add_cast" method="post">
      {% csrf_token %}
      <div class="row">
	<div class="small-6 columns">
	  {{cast_form.role}}
	</div>
	<div class="small-6 columns">
	  {{cast_form.person}}
	</div>
	<button class="right" type="submit">Add Role</button>
      </div>
    </form>
    {% endif %}
  </div>
  {% if band or can_edit %}
  <div class="large-4 columns">
    <h3> Band </h3>
    <div class="sortable-band">
      {% include "drama/company_list.html" with roles=band %}
    </div>
    {% if can_edit %}
    <form action="add_band" method="post">
      {% csrf_token %}
      <div class="row">
	<div class="small-6 columns">
	  {{band_form.role}}
	  <div class="namefield hide" id="band-name">
	    {{band_form.name}}
	  </div>
	  <ul class="inline-list">
	    <li><a href="#" id="band-name" class="show-field">Add Custom Name</a></li>
	  </ul>
	</div>
	<div class="small-6 columns">
	  {{band_form.person}}
	</div>
	<button class="right" type="submit">Add Role</button>
      </div>
    </form>
    {% endif %}
  </div>
  {% endif %}
  <div class="large-{% if band or can_edit %}4{% else %}6{% endif %} columns end">
    <h3> Production Team </h3>
    <div class="sortable-prod">
      {% include "drama/company_list.html" with roles=prod %}
    </div>
    {% if can_edit %}
    <form action="add_prod" method="post">
      {% csrf_token %}
      <div class="row">
	<div class="small-6 columns">
	  {{prod_form.role}}
	  <div class="namefield hide" id="prod-name">
	    {{prod_form.name}}
	  </div>
	  <ul class="inline-list">
	    <li><a href="#" id="prod-name" class="show-field">Add Custom Name</a></li>
	  </ul>
	</div>
	<div class="small-6 columns">
	  {{prod_form.person}}
	</div>
	<button class="right" type="submit">Add Role</button>
      </div>
    </form>
    {% endif %}
  </div>
</div>
{% if can_edit %}
<script>
    $("div[class|='sortable']").sortable({
        axis: "y",
        items: "> div",
        stop: function(event, ui) {
            $.ajax({
                url: "{% url 'role_reorder' model_name='shows' slug=show.slug %}",
                type: 'post',
                data: $(this).sortable('serialize')
            });
        }
    });
    $('.show-field').click(function() {
        var id = $(this).attr('id');
        $('div #' + id).removeClass('hide')
        $(this).parent().parent().addClass('hide')
        return false;
    });
    $(document).bind('yourlabsWidgetReady', function() {
    $('body').on('initialize', '.autocomplete-light-widget[data-widget-bootstrap=fill-field-bootstrap]', function() {
        $(this).yourlabsWidget({
            namefield: $(this).parent().find('.namefield input'),
            addToDeck:  function(choice, value) {
    var existing_choice = this.deck.find('[data-value="'+value+'"]');

    // Avoid duplicating choices in the deck.
    if (!existing_choice.length) {
        var deckChoice = this.deckChoiceHtml(choice);
        var fieldChoice = choice.clone();
        this.namefield.val(fieldChoice.text())
        // In case getValue() actually **created** the value, for example
        // with a post request.
        deckChoice.attr('data-value', value);

        this.deck.append(deckChoice);
    }
}
        })
    });
});
</script>
{% endif %}
{% endblock %}
