{% extends "drama/base.html" %}
{% load drama_admin %}
{% load guardian_tags %}
{% block title %}Show: {{object.name}}{% endblock %}

{% block content %}
{% get_obj_perms user for object as "user_perms" %}
<div class="row">
    {% admin_panel object %}
  <div class="large-12 columns panel">
    {% if object.book %}
    <ul class="inline-list right">
      <li><a href="{{object.book}}"><i class="fa fa-ticket"></i> Buy tickets
	  {% if object.prices %}({{object.prices}}){% endif %}</a></li>
    </ul>
    {% else %}
    {% if object.prices %}
    <ul class="inline-list right">
      <li>{{object.prices}}</li>
    </ul>
    {% endif %}
    {% endif %}
    {% if object.societies %}
    <p class="show-society">{% for society in object.societies.all %}{% if not forloop.first %}, {% endif %}{{society.get_link}}{% endfor %} presents...</p>
    {% endif %}
    <h2>{{object.name}}<br />{% if object.author %}<small>By {{object.author}}</small>{% endif %}</h2>
    {% if object.image %}
    <div class="large-3 columns text-center">
      <a href="{{object.image.url}}" data-lightbox="poster"><img src="{{object.image.url}}" /></a>
    </div>
    <div class="large-9 columns">
  {% endif %}    
      <p>
	{% for performance in object.get_performances %}
	{% include "drama/performance_listing.html" %}
	{% endfor %}
      </p>
     <p>{{object.desc|markdown}}</p>
    </div>
    {% if object.image %}</div>{% endif %}
</div>
<div class ="row">
{% if object.get_techiead or object.get_auditions or object.get_apps %}
{% if objects.has_news %}
<div class="large-6 columns">
{% else %}
<div class="large-12 columns">
{% endif %}
  <div class="vacancies-panel">
    <h5> Get involved with <em>{{object.name}}</em>:</h5>
    {% for application in object.get_apps %}
    <p>{{application.name}} - <a href="{% url 'application-item' slug=application.slug %}">more details</a></p>
    {% endfor %}
    {% if object.get_auditions %}
    <p>Auditions are being held at the times below - <a href="{% url 'audition-item' slug=object.slug %}">more details</a></p>
    <ul>
    {% for instance in object.get_auditions %}
    <li>{{instance.end_datetime|date:"D dS F"}}, {{instance.start_time|date:"g:iA"|lower}} - {{instance.end_datetime|date:"g:iA"|lower}}, {{instance.location}}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% if object.get_techiead %}
    <p>We are looking for: {% for role in object.get_techiead.techieadrole_set.all%}{{role.name}}{% include "drama/comma.html" %} {% endfor %}- <a href="{% url 'techiead-item' slug=object.slug %}">more details</a></p>
    {% endif %}
  </div>
</div>
{% if object.has_news %}
<div class="large-6 columns">
{% endif %}
{% else %}
{% if object.has_news %}
<div class="large-12 columns">
{% endif %}
{% if object.has_news %}
  {% include 'drama/organization_news.html' %}
{% endif %}
</div>
<div class="row">
  <div class="large-{% if object.get_band or "change_show" in user_perms%}4{% else %}6{% endif %} columns">
    <h3> Cast </h3>
    <div class="sortable-cast">
      {% include "drama/company_list.html" with roles=object.get_cast_list %}
    </div>
    {% if "change_show" in user_perms %}
    <form action="{% url 'show-add-cast' slug=object.slug %}" method="post">
      {% csrf_token %}
      <div class="row">
	<div class="small-6 columns">
	  {{object.get_cast_form.role}}
	</div>
	<div class="small-6 columns">
	  {{object.get_cast_form.person}}
	</div>
	<button class="right" type="submit">Add Role</button>
      </div>
    </form>
    {% endif %}
  </div>
  {% if object.get_band or "change_show" in user_perms %}
  <div class="large-4 columns">
    <h3> Band </h3>
    <div class="sortable-band">
      {% include "drama/company_list.html" with roles=object.get_band_list %}
    </div>
    {% if "change_show" in user_perms %}
    <form action="{% url 'show-add-band' slug=object.slug %}" method="post">
      {% csrf_token %}
      <div class="row">
	<div class="small-6 columns">
	  {{object.get_band_form.role}}
	  <div class="namefield hide" id="band-name">
	    {{object.get_band_form.name}}
	  </div>
	  <ul class="inline-list">
	    <li><a href="#" id="band-name" class="show-field">Add Custom Name</a></li>
	  </ul>
	</div>
	<div class="small-6 columns">
	  {{object.get_band_form.person}}
	</div>
	<button class="right" type="submit">Add Role</button>
      </div>
    </form>
    {% endif %}
  </div>
  {% endif %}
  <div class="large-{% if object.get_band or "change_show" in user_perms %}4{% else %}6{% endif %} columns end">
    <h3> Production Team </h3>
    <div class="sortable-prod">
      {% include "drama/company_list.html" with roles=object.get_prod_list %}
    </div>
    {% if "change_show" in user_perms %}
    <form action="{% url 'show-add-prod' slug=object.slug %}" method="post">
      {% csrf_token %}
      <div class="row">
	<div class="small-6 columns">
	  {{object.get_prod_form.role}}
	  <div class="namefield hide" id="prod-name">
	    {{object.get_prod_form.name}}
	  </div>
	  <ul class="inline-list">
	    <li><a href="#" id="prod-name" class="show-field">Add Custom Name</a></li>
	  </ul>
	</div>
	<div class="small-6 columns">
	  {{object.get_prod_form.person}}
	</div>
	<button class="right" type="submit">Add Role</button>
      </div>
    </form>
    {% endif %}
  </div>
</div>
{% if "change_show" in user_perms %}
<script>
    $("div[class|='sortable']").sortable({
        axis: "y",
        items: "> div",
        stop: function(event, ui) {
            $.ajax({
                url: "{% url 'show-role-reorder' slug=object.slug %}",
                type: 'post',
                data: $(this).sortable('serialize')
            });
        }
    });
</script>
{% endif %}
{% endblock %}
