{% extends "drama/base.html" %}
{% load drama_admin %}

{% block title %}Show: {% if object %}{{object.name}} - Edit{% else %}Create{% endif %}{% endblock %}

{% block content %}
<div class="row">
  {% if object %}
  {% admin_panel object %}
  <h3>Edit Show</h3>
  {% else %}
  <h3>Create a new show</h3>
  <div class="panel">
    <p>Please fill in the details below to add a new show to Camdram. Required fields are marked with an asterisk (*), and all fields can be modified later if necessary.</p>
  </div>
  {% endif %}
  <form action="" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {% include "drama/form_field.html" with field=content_form.name %}
  {% include "drama/form_field.html" with field=content_form.author %}
  <div class="row">
    <div class="large-3 columns">
      <label class="right inline required">Dates and times</label>
    </div>
    <div class="large-9 columns">
      <div id="performances" class="performances performance_set collection">
	{{performance_formset.management_form}}
	{% for form in performance_formset %}
	{% include "drama/performance_form_item.html" %}
	{% endfor %}
      </div>
      <ul class="inline-list right performance-links">
        <li> <a href="#" class="add_more" id="performance_set">Add date range</a></li>
      </ul>
    </div>
    <div id="empty_form" style="display:none">
      {% include "drama/performance_form_item.html" with form=performance_formset.empty_form %}
    </div>
  </div>
  {% include "drama/form_field.html" with field=content_form.society %}
  {% include "drama/form_field.html" with field=content_form.desc %}
  {% include "drama/form_field.html" with field=content_form.image %}
  {% include "drama/form_field.html" with field=content_form.year %}
  <div class="row">
    <div class="large-3 columns">
      <label class="{{content_form.book.css_classes}} right inline" for="{{content_form.book.id_for_label}}">
	 Web page to buy tickets
      </label>
    </div>
    <div class="{{content_form.book.css_classes}} large-5 columns">
      {{content_form.book}}
      {% for error in content_form.book.errors %}
      <small class="error">{{error}}</small>
      {% endfor %}
    </div>
    <div class="large-2 columns">
      <label class="{{content_form.prices.css_classes}} right inline" for="{{content_form.prices.id_for_label}}">
	Ticket Prices
      </label>
    </div>
    <div class="{{content_form.prices.css_classes}} large-2 columns">
      {{content_form.prices}}
      {% for error in content_form.prices.errors %}
      <small class="error">{{error}}</small>
      {% endfor %}
    </div>
  </div>
  <div class="text-right">
  <button type="submit">Save</button>
  </div>
  </form>
</div>
{% endblock %}
