{% extends 'drama/base.html' %}

{% block title %}Shows{% endblock %}

{% block content %}
<div class="row">
  <div class="large-12 columns" data-equalizer="">
    <h3>Show Administration</h3>
    <h5>My Shows</h5>
    <ul class="large-block-grid-2">
      {% for show in shows %}
      <li><div class="panel" data-equalizer-watch="">
	  <h5>{{show.get_link}}</h5>
	  <p>{% for performance in show.performance_set.all %}
	    {% include "drama/performance_listing.html" %}
	    {% endfor %}</p>
	  <p>{{show.desc|truncatechars:144}}</p>
      </div></li>
      {% empty %}
      <li>You have not created any shows.</li>
      {% endfor %}
    </ul>
    <p>
      <a class="button small" href="{% url 'new' 'shows' %}">Create a show</a>
    </p>
  </div>
</div>
{% endblock %}
