{% extends "drama/base.html" %}
{% load drama_admin %}
{% block title %}Society: {{society.name}}{% endblock %}

{% block content %}
{% admin_panel society %}
<div class="row">
  <div class="large-12 columns panel">
    <h2>{{society.name}}<small> - {{society.shortname}}</small></h2>
    <p>{{society.desc|markdown}}</p>
  </div>
</div>

{% if auditions or showapps or societyapps or techieads %}
<div class="row">
  <div class="large-12 columns">
    {% with title="Get involved with "|add:society.name|add:" shows:" %}
    {% include "drama/vacancies-panel.html" with title=title ourapps=societyapps%}
    {% endwith %}
  </div>
</div>
{% endif %}

<div class="row">
  <div class="large-12 columns">
    <h3>Shows</h3>
    {% diary events %}
  </div>
</div>
{% endblock %}
