{% extends "drama/base.html" %}
{% load drama_admin %}
{% block title %}Society: {{object.name}}{% endblock %}

{% block content %}
{% admin_panel object %}
<div class="row">
  <div class="large-12 columns panel">
    <h2>{{object.name}}<small> - {{object.shortname}}</small></h2>
    <p>{{object.desc|markdown}}</p>
  </div>
</div>

{% if object.get_auditions or object.get_showapps or objec.get_societyapps or object.get_techieads %}
<div class="row">
  <div class="large-12 columns">
    {% with title="Get involved with "|add:object.name|add:" shows:" %}
    {% include "drama/vacancies-panel.html" with title=title ourapps=object.get_societyapps%}
    {% endwith %}
  </div>
</div>
{% endif %}

<div class="row">
  <div class="large-12 columns">
    <h3>Shows</h3>
    {% with events=object.get_performances %}
    {% diary events %}
    {% endwith %}
  </div>
</div>
{% endblock %}
