{% extends "drama/base.html" %}
{% load drama_admin %}
{% block title %}Society: {{object.name}}{% endblock %}

{% block content %}
{% admin_panel object %}
<div class="row">
  <div class="large-12 columns panel">
    <h2>{{object.name}}<small> - {{object.shortname}}</small></h2>
    <p>{{object.desc|markdown}}</p>
  </div>
</div>

<div class="row">
{% if object.get_auditions or object.get_showapps or object.get_societyapps or object.get_techieads %}
  {% if object.has_news %}
  <div class="large-6 columns">
  {% else %}
  <div class="large-12 columns">
  {% endif %}
    {% with title="Get involved with "|add:object.name|add:" shows:" %}
    {% include "drama/vacancies-panel.html" with title=title ourapps=object.get_societyapps%}
    {% endwith %}
  </div>
  {% if object.has_news %}
  <div class="large-6 columns">
  {% endif %}
{% else %}
  {% if object.has_news %}
  <div class="large-12 columns">
  {% endif %}
{% endif %}
  {% if object.has_news %}
  {% include 'drama/organization_news.html' %}
  {% endif %}
</div>

<div class="row">
  <div class="large-12 columns">
    <h3>Shows</h3>
    {% with events=object.get_future_performances %}
    {% diary events %}
    {% endwith %}
  </div>
</div>
<div class="row">
  {% if user.is_authenticated %}
  {% if "change_show" in user_perms %}
  {% else %}
  <p>If you'd like to change the information about this society, you can <a href="#" onclick="$(this).parent().parent().children('form').submit()">request to be an admin</a>.</p><form action="{{object.get_admin_request_url}}" method="post" class="hidden">{% csrf_token %}</form>
  {% endif %}
  {% else %}
  <p>Log in to be able to request to be an admin for this society.</p>
  {% endif %}
</div>
{% endblock %}
