{% extends "drama/vacancy.html" %}
{% block title %}Technical and Design Roles{% endblock %}

{% block adverts %}
<h3>Technical and Design Roles</h3>
{% for ad in ads %}
<hr>
<div id="{{ad.show.slug}}">
  <h4><a href="{% url 'show' ad.show.slug %}">{{ad.show.name}}</a></h4>
  <p>
    {% if ad.show.performance_set.all %}
    {% for performance in ad.show.performance_set.all %}
    {{performance.time|date:"g:iA"|lower}}, {{performance.start_date|date:"D dS F Y"}} - {{performance.end_date|date:"D dS F Y"}} at <a href="{% url 'display' model_name='venues' slug=performance.venue.slug %}">{{performance.venue.name}}</a><br/>
    {% endfor %}
    {% else %}
    Dates and venues to be confirmed.
    {% endif %}
  </p>
  <p>
    <strong>Looking for</strong>
    <ul>
      {% for role in ad.techieadrole_set.all %}
      <li>{% if role.desc %}<a href="{% url 'ad_role' role.ad.show.slug role.slug %}">{% elif role.role.link %}<a href ="{% url 'role' role.role.slug %}">{% endif %}{{role.name}}{% if role.desc or role.role.name %}</a>{% endif %}</li>
      {% endfor %}
    </ul>
  </p>
  {% if ad.desc %}
  <p>{{ad.desc}}</p>
  {% endif %}
  <p>
    <strong>Contact:</strong> {{ad.contact}}<br />
    <strong>Deadline for applications:</strong> {{ad.deadline|date:"l jS F G:i"}}
  </p>
</div>  
{% endfor %}
{% endblock %}
