<div class="vacancies-panel">
  <h5>{{title}}</h5>
  <ul>
    {% for app in ourapps %}
    <li>{{app.name}} open until {{app.deadline|date:"G:i"}} on {{app.deadline|date:"l jS F"}} - <a href="{% url 'item' model_name='applications' slug=app.slug %}">more details</a></li>
    {% endfor %}
    {% for app in showapps %}
    <li><a href="{% url 'display' model_name='shows' slug=app.show.slug %}">{{app.show.name}}</a> is looking for: {{app.name}} - <a href="{% url 'item' model_name='applications' slug=app.slug %}">more details</a></li>
    {% endfor %}
    {% for audition in auditions %}
    <li><a href="{% url 'display' model_name='shows' slug=audition.audition.show.slug %}">{{audition.audition.show.name}}</a> is holding auditions: from {{audition.start_time|date:"G:i"}} to {{audition.end_datetime|date:"G:i"}} on {{audition.end_datetime|date:"l jS F"}} at {{audition.location}} - <a href="{% url 'item' model_name='auditions' slug=audition.audition.show.slug %}">more details</a></li>
    {% endfor %}
    {% for techiead in techieads %}
    <li><a href="{% url 'display' model_name='shows' slug=techiead.show.slug %}">{{techiead.show.name}}</a> is looking for: {% for role in techiead.techieadrole_set.all %}{{role.name}}{% include "drama/comma.html" %} {% endfor %}- <a href="{% url 'item' model_name='technical' slug=techiead.show.slug %}">more details</a></li>
    {% endfor %}
  </ul>
</div>
