{% extends "drama/base.html" %}

{% block content %}
<div class="row">
  <div class="large-3 columns">
    <ul class ="side-nav">
      <li{% if current_roletype == 'auditions' %} class="active"{% endif %}><a href="{% url 'auditions' %}">Auditions</a></li>
      <li{% if current_roletype == 'techie' %} class="active"{% endif %}><a href="{% url 'techie_ads' %}">Technical and Design Roles</a></li>
      <li{% if current_roletype == 'applications' %} class="active"{% endif %}><a href="{% url 'applications' %}">Producer/Director Roles and Show Applications</a></li>
    </ul>
  </div>
  <div class="large-9 columns">
  {% block adverts %}{% endblock %}
  </div>
</div>
{% endblock %}
