{% extends "drama/base.html" %}
{% load drama_admin %}
{% block title %}Venues{% endblock %}
{% block extra_headers %}
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHMSSEipRCEuOhkEcSGgC5IaJOcA1zHyQ&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(52.2050, 0.1190),
          zoom: 14
        };
        map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

      {% for venue in object_list %}
      {% if venue.lat and venue.lng %}
      marker_{{venue.id}} = new google.maps.Marker({
      position: new google.maps.LatLng({{venue.lat}}, {{venue.lng}}),
      icon: "https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld={% alphabet %}|58b3be|000000",
      map: map,
      title: "{{venue.name}}"
      })
      var infowindow_{{venue.id}} = new google.maps.InfoWindow({
      content: '<h6>{{venue.name}}</h6>\n<p><a href="{{venue.get_absolute_url}}">Go to venue page</a></p>'});
      google.maps.event.addListener(marker_{{venue.id}}, 'click', function (){
      infowindow_{{venue.id}}.open(map,marker_{{venue.id}});
      });
      {% endif %}
      {% endfor %}
      }
      google.maps.event.addDomListener(window, 'load', initialize);
      var map;
      {% for venue in object_list %}
      {% if venue.lat and venue.lng %}
      var marker_{{venue.id}};
      {% endif %}
      {% endfor %}
    </script>

{% endblock %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    <h3>Venues</h3>
    <div class="map-large" id="map-canvas">
    </div>
  </div>
</div>

<ul class="large-block-grid-2" id="venues_list">
{% for venue in object_list %}
<li id="{{venue.slug}}">
  <div class="row">
    <div class="small-2 columns marker_column">
      {% if venue.lat and venue.lng %}
     <a href="#" onclick="map.panTo(new google.maps.LatLng({{venue.lat}}, {{venue.lng}})); google.maps.event.trigger(marker_{{venue.id}}, 'click'); return false"> <img class="marker_img" src="https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld={% alphabet %}|58b3be|000000"></img></a> 
     {% endif %}
    </div>
    <div class="small-10 columns">
      <h5>{{venue.get_link}}</h5>
      <p>{{venue.desc|truncatechars:200}}<br />
	[<a href="{{venue.get_absolute_url}}">Read More</a>]
      </p>
    </div>
  </div>
</li>
{% endfor %}
</ul>
{% endblock %}
