{% extends "drama/base.html" %}
{% block title %}Venues{% endblock %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    <h3>Venues</h3>
    <div class="map-large">
    </div>
  </div>
</div>

<ul class="large-block-grid-2" id="venues_list">
{% for venue in object_list %}
<li id="{{venue.slug}}">
  <div class="row">
    <div class="small-2 columns marker_column">
      
    </div>
    <div class="small-10 columns">
      <h5>{{venue.get_link}}</h5>
      <p>{{venue.desc|truncatechars:200}}<br />
	[<a href="{{venue.get_absolute_url}}">Read More</a>]
      </p>
    </div>
  </div>
</li>
{% endfor %}
</ul>
{% endblock %}
