{% extends "drama/base.html" %}
{% load drama_admin %}

{% block title %}Venue: {% if object %}{{object.name}} - Edit{% else %}Create{% endif %}{% endblock %}

{% block content %}
<div class="row">
  {% if object %}
  {% admin_panel object %}
  <h3>Edit Venue</h3>
  {% else %}
  <h3>Create a new venue</h3>
  <div class="panel">
    <p>Please fill in the details below to add a new venue to Camdram. Required fields are marked with an asterisk (*), and all fields can be modified later if necessary.</p>
  </div>
  {% endif %}
  <form action="" method="post">
    {% csrf_token %}
    {% include "drama/form_field.html" with field=content_form.name %}
    {% include "drama/form_field.html" with field=content_form.address %}
    {% include "drama/form_field.html" with field=content_form.desc %}
    <div class="right">
      <button type="submit">Save</button>
    </div>
  </form>
</div>
{% endblock %}
    
