{% extends "drama/base.html" %}
{% load drama_admin %}
{% block title %}Venue: {{object.name}}{% endblock %}

{% block extra_headers %}
{% if object.lat and object.lng %}
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHMSSEipRCEuOhkEcSGgC5IaJOcA1zHyQ&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng({{object.lat}}, {{object.lng}}),
          zoom: 16
        };
        map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

      marker = new google.maps.Marker({
      draggable: true,
      position: new google.maps.LatLng({{object.lat}}, {{object.lng}}),
      map: map,
      });

      }
      
      google.maps.event.addDomListener(window, 'load', initialize);
      var map;
      var marker;
    </script>
{% endif %}
{% endblock %}

{% block content %}
{% admin_panel object %}
<div class="row">
  <div class="large-12 columns panel">
{% if object.lat and object.lng %}
    <div class="large-4 columns">
      <div class="map-small" id="map-canvas"></div>
    </div>
    <div class="large-8 columns">
{% else %}
    <div class="large-12 columns">
{% endif %}
      <h2>{{object.name}}{% if object.address %}<br /><small>{{object.address}}</small>{% endif %}</h2>
      <p>{{object.desc|markdown}}</p>
    </div>
  </div>
</div>

<div class="row">
{% if object.get_auditions or object.get_showapps or object.get_venueapps or object.get_techieads %}
  {% if object.has_news %}
  <div class="large-6 columns">
  {% else %}
  <div class="large-12 columns">
  {% endif %}
    {% with title="Get involved with shows at "|add:object.name|add:":" %}
    {% include "drama/vacancies-panel.html" with title=title ourapps=object.get_venueapps%}
    {% endwith %}
  </div>
  {% if object.has_news %}
  <div class="large-6 columns">
  {% endif %}
{% else %}
  {% if object.has_news %}
  <div class="large-12 columns">
  {% endif %}
{% endif %}
  {% if object.has_news %}
  {% include 'drama/organization_news.html' %}
  {% endif %}
</div>

<div class="row">
  <div class="large-12 columns">
    <h3>Shows</h3>
    {% with events=object.get_future_performances %}
    {% diary events %}
    {% endwith %}
  </div>
</div>
{% endblock %}
