/* line 264, ../sass/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "only screen and (min-width: 768px)";
  width: 768px;
}

/* line 269, ../sass/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "only screen and (min-width:1280px)";
  width: 1280px;
}

/* line 274, ../sass/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "only screen and (min-width:1440px)";
  width: 1440px;
}

/* line 292, ../sass/foundation/components/_global.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 297, ../sass/foundation/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 300, ../sass/foundation/components/_global.scss */
body {
  background: #fff9e3;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* line 313, ../sass/foundation/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 318, ../sass/foundation/components/_global.scss */
img,
object,
embed {
  max-width: 100%;
  height: auto;
}

/* line 321, ../sass/foundation/components/_global.scss */
object,
embed {
  height: 100%;
}

/* line 322, ../sass/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 328, ../sass/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 333, ../sass/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 334, ../sass/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 335, ../sass/foundation/components/_global.scss */
.text-left {
  text-align: left !important;
}

/* line 336, ../sass/foundation/components/_global.scss */
.text-right {
  text-align: right !important;
}

/* line 337, ../sass/foundation/components/_global.scss */
.text-center {
  text-align: center !important;
}

/* line 338, ../sass/foundation/components/_global.scss */
.text-justify {
  text-align: justify !important;
}

/* line 339, ../sass/foundation/components/_global.scss */
.hide {
  display: none;
}

/* line 345, ../sass/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
}

/* line 348, ../sass/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 358, ../sass/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 361, ../sass/foundation/components/_global.scss */
select {
  width: 100%;
}

/* Grid HTML Classes */
/* line 127, ../sass/foundation/components/_grid-5.scss */
.row {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
  width: 100%;
  *zoom: 1;
}
/* line 121, ../sass/foundation/components/_global.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 122, ../sass/foundation/components/_global.scss */
.row:after {
  clear: both;
}
/* line 132, ../sass/foundation/components/_grid-5.scss */
.row.collapse .column,
.row.collapse .columns {
  padding-left: 0;
  padding-right: 0;
  float: left;
}
/* line 135, ../sass/foundation/components/_grid-5.scss */
.row .row {
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  max-width: none;
  width: auto;
  *zoom: 1;
}
/* line 121, ../sass/foundation/components/_global.scss */
.row .row:before, .row .row:after {
  content: " ";
  display: table;
}
/* line 122, ../sass/foundation/components/_global.scss */
.row .row:after {
  clear: both;
}
/* line 136, ../sass/foundation/components/_grid-5.scss */
.row .row.collapse {
  margin-left: 0;
  margin-right: 0;
  max-width: none;
  width: auto;
  *zoom: 1;
}
/* line 121, ../sass/foundation/components/_global.scss */
.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table;
}
/* line 122, ../sass/foundation/components/_global.scss */
.row .row.collapse:after {
  clear: both;
}

/* line 141, ../sass/foundation/components/_grid-5.scss */
.column,
.columns {
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
  position: relative;
}

@media only screen {
  /* line 146, ../sass/foundation/components/_grid-5.scss */
  .small-1 {
    width: 8.33333%;
  }

  /* line 146, ../sass/foundation/components/_grid-5.scss */
  .small-2 {
    width: 16.66667%;
  }

  /* line 146, ../sass/foundation/components/_grid-5.scss */
  .small-3 {
    width: 25%;
  }

  /* line 146, ../sass/foundation/components/_grid-5.scss */
  .small-4 {
    width: 33.33333%;
  }

  /* line 146, ../sass/foundation/components/_grid-5.scss */
  .small-5 {
    width: 41.66667%;
  }

  /* line 146, ../sass/foundation/components/_grid-5.scss */
  .small-6 {
    width: 50%;
  }

  /* line 146, ../sass/foundation/components/_grid-5.scss */
  .small-7 {
    width: 58.33333%;
  }

  /* line 146, ../sass/foundation/components/_grid-5.scss */
  .small-8 {
    width: 66.66667%;
  }

  /* line 146, ../sass/foundation/components/_grid-5.scss */
  .small-9 {
    width: 75%;
  }

  /* line 146, ../sass/foundation/components/_grid-5.scss */
  .small-10 {
    width: 83.33333%;
  }

  /* line 146, ../sass/foundation/components/_grid-5.scss */
  .small-11 {
    width: 91.66667%;
  }

  /* line 146, ../sass/foundation/components/_grid-5.scss */
  .small-12 {
    width: 100%;
  }

  /* line 150, ../sass/foundation/components/_grid-5.scss */
  .small-offset-0 {
    margin-left: 0%;
  }

  /* line 150, ../sass/foundation/components/_grid-5.scss */
  .small-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 150, ../sass/foundation/components/_grid-5.scss */
  .small-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 150, ../sass/foundation/components/_grid-5.scss */
  .small-offset-3 {
    margin-left: 25%;
  }

  /* line 150, ../sass/foundation/components/_grid-5.scss */
  .small-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 150, ../sass/foundation/components/_grid-5.scss */
  .small-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 150, ../sass/foundation/components/_grid-5.scss */
  .small-offset-6 {
    margin-left: 50%;
  }

  /* line 150, ../sass/foundation/components/_grid-5.scss */
  .small-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 150, ../sass/foundation/components/_grid-5.scss */
  .small-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 150, ../sass/foundation/components/_grid-5.scss */
  .small-offset-9 {
    margin-left: 75%;
  }

  /* line 150, ../sass/foundation/components/_grid-5.scss */
  .small-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 153, ../sass/foundation/components/_grid-5.scss */
  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

  /* line 154, ../sass/foundation/components/_grid-5.scss */
  [class*="column"] + [class*="column"].end {
    float: left;
  }

  /* line 157, ../sass/foundation/components/_grid-5.scss */
  .column.small-centered,
  .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }
}
@media only screen and (min-width: 768px) {
  /* line 163, ../sass/foundation/components/_grid-5.scss */
  .medium-1 {
    width: 8.33333%;
  }

  /* line 163, ../sass/foundation/components/_grid-5.scss */
  .medium-2 {
    width: 16.66667%;
  }

  /* line 163, ../sass/foundation/components/_grid-5.scss */
  .medium-3 {
    width: 25%;
  }

  /* line 163, ../sass/foundation/components/_grid-5.scss */
  .medium-4 {
    width: 33.33333%;
  }

  /* line 163, ../sass/foundation/components/_grid-5.scss */
  .medium-5 {
    width: 41.66667%;
  }

  /* line 163, ../sass/foundation/components/_grid-5.scss */
  .medium-6 {
    width: 50%;
  }

  /* line 163, ../sass/foundation/components/_grid-5.scss */
  .medium-7 {
    width: 58.33333%;
  }

  /* line 163, ../sass/foundation/components/_grid-5.scss */
  .medium-8 {
    width: 66.66667%;
  }

  /* line 163, ../sass/foundation/components/_grid-5.scss */
  .medium-9 {
    width: 75%;
  }

  /* line 163, ../sass/foundation/components/_grid-5.scss */
  .medium-10 {
    width: 83.33333%;
  }

  /* line 163, ../sass/foundation/components/_grid-5.scss */
  .medium-11 {
    width: 91.66667%;
  }

  /* line 163, ../sass/foundation/components/_grid-5.scss */
  .medium-12 {
    width: 100%;
  }

  /* line 167, ../sass/foundation/components/_grid-5.scss */
  .medium-offset-0 {
    margin-left: 0%;
  }

  /* line 167, ../sass/foundation/components/_grid-5.scss */
  .medium-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 167, ../sass/foundation/components/_grid-5.scss */
  .medium-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 167, ../sass/foundation/components/_grid-5.scss */
  .medium-offset-3 {
    margin-left: 25%;
  }

  /* line 167, ../sass/foundation/components/_grid-5.scss */
  .medium-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 167, ../sass/foundation/components/_grid-5.scss */
  .medium-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 167, ../sass/foundation/components/_grid-5.scss */
  .medium-offset-6 {
    margin-left: 50%;
  }

  /* line 167, ../sass/foundation/components/_grid-5.scss */
  .medium-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 167, ../sass/foundation/components/_grid-5.scss */
  .medium-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 167, ../sass/foundation/components/_grid-5.scss */
  .medium-offset-9 {
    margin-left: 75%;
  }

  /* line 167, ../sass/foundation/components/_grid-5.scss */
  .medium-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 167, ../sass/foundation/components/_grid-5.scss */
  .medium-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 171, ../sass/foundation/components/_grid-5.scss */
  .medium-push-1 {
    left: 8.33333%;
    right: auto;
  }

  /* line 172, ../sass/foundation/components/_grid-5.scss */
  .medium-pull-1 {
    right: 8.33333%;
    left: auto;
  }

  /* line 171, ../sass/foundation/components/_grid-5.scss */
  .medium-push-2 {
    left: 16.66667%;
    right: auto;
  }

  /* line 172, ../sass/foundation/components/_grid-5.scss */
  .medium-pull-2 {
    right: 16.66667%;
    left: auto;
  }

  /* line 171, ../sass/foundation/components/_grid-5.scss */
  .medium-push-3 {
    left: 25%;
    right: auto;
  }

  /* line 172, ../sass/foundation/components/_grid-5.scss */
  .medium-pull-3 {
    right: 25%;
    left: auto;
  }

  /* line 171, ../sass/foundation/components/_grid-5.scss */
  .medium-push-4 {
    left: 33.33333%;
    right: auto;
  }

  /* line 172, ../sass/foundation/components/_grid-5.scss */
  .medium-pull-4 {
    right: 33.33333%;
    left: auto;
  }

  /* line 171, ../sass/foundation/components/_grid-5.scss */
  .medium-push-5 {
    left: 41.66667%;
    right: auto;
  }

  /* line 172, ../sass/foundation/components/_grid-5.scss */
  .medium-pull-5 {
    right: 41.66667%;
    left: auto;
  }

  /* line 171, ../sass/foundation/components/_grid-5.scss */
  .medium-push-6 {
    left: 50%;
    right: auto;
  }

  /* line 172, ../sass/foundation/components/_grid-5.scss */
  .medium-pull-6 {
    right: 50%;
    left: auto;
  }

  /* line 171, ../sass/foundation/components/_grid-5.scss */
  .medium-push-7 {
    left: 58.33333%;
    right: auto;
  }

  /* line 172, ../sass/foundation/components/_grid-5.scss */
  .medium-pull-7 {
    right: 58.33333%;
    left: auto;
  }

  /* line 171, ../sass/foundation/components/_grid-5.scss */
  .medium-push-8 {
    left: 66.66667%;
    right: auto;
  }

  /* line 172, ../sass/foundation/components/_grid-5.scss */
  .medium-pull-8 {
    right: 66.66667%;
    left: auto;
  }

  /* line 171, ../sass/foundation/components/_grid-5.scss */
  .medium-push-9 {
    left: 75%;
    right: auto;
  }

  /* line 172, ../sass/foundation/components/_grid-5.scss */
  .medium-pull-9 {
    right: 75%;
    left: auto;
  }

  /* line 171, ../sass/foundation/components/_grid-5.scss */
  .medium-push-10 {
    left: 83.33333%;
    right: auto;
  }

  /* line 172, ../sass/foundation/components/_grid-5.scss */
  .medium-pull-10 {
    right: 83.33333%;
    left: auto;
  }

  /* line 171, ../sass/foundation/components/_grid-5.scss */
  .medium-push-11 {
    left: 91.66667%;
    right: auto;
  }

  /* line 172, ../sass/foundation/components/_grid-5.scss */
  .medium-pull-11 {
    right: 91.66667%;
    left: auto;
  }

  /* line 176, ../sass/foundation/components/_grid-5.scss */
  .column.medium-centered,
  .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }

  /* line 179, ../sass/foundation/components/_grid-5.scss */
  .column.medium-uncentered,
  .columns.medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important;
  }
}
@media only screen and (min-width: 1280px) {
  /* line 190, ../sass/foundation/components/_grid-5.scss */
  .large-1 {
    width: 8.33333%;
  }

  /* line 190, ../sass/foundation/components/_grid-5.scss */
  .large-2 {
    width: 16.66667%;
  }

  /* line 190, ../sass/foundation/components/_grid-5.scss */
  .large-3 {
    width: 25%;
  }

  /* line 190, ../sass/foundation/components/_grid-5.scss */
  .large-4 {
    width: 33.33333%;
  }

  /* line 190, ../sass/foundation/components/_grid-5.scss */
  .large-5 {
    width: 41.66667%;
  }

  /* line 190, ../sass/foundation/components/_grid-5.scss */
  .large-6 {
    width: 50%;
  }

  /* line 190, ../sass/foundation/components/_grid-5.scss */
  .large-7 {
    width: 58.33333%;
  }

  /* line 190, ../sass/foundation/components/_grid-5.scss */
  .large-8 {
    width: 66.66667%;
  }

  /* line 190, ../sass/foundation/components/_grid-5.scss */
  .large-9 {
    width: 75%;
  }

  /* line 190, ../sass/foundation/components/_grid-5.scss */
  .large-10 {
    width: 83.33333%;
  }

  /* line 190, ../sass/foundation/components/_grid-5.scss */
  .large-11 {
    width: 91.66667%;
  }

  /* line 190, ../sass/foundation/components/_grid-5.scss */
  .large-12 {
    width: 100%;
  }

  /* line 194, ../sass/foundation/components/_grid-5.scss */
  .large-offset-0 {
    margin-left: 0%;
  }

  /* line 194, ../sass/foundation/components/_grid-5.scss */
  .large-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 194, ../sass/foundation/components/_grid-5.scss */
  .large-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 194, ../sass/foundation/components/_grid-5.scss */
  .large-offset-3 {
    margin-left: 25%;
  }

  /* line 194, ../sass/foundation/components/_grid-5.scss */
  .large-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 194, ../sass/foundation/components/_grid-5.scss */
  .large-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 194, ../sass/foundation/components/_grid-5.scss */
  .large-offset-6 {
    margin-left: 50%;
  }

  /* line 194, ../sass/foundation/components/_grid-5.scss */
  .large-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 194, ../sass/foundation/components/_grid-5.scss */
  .large-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 194, ../sass/foundation/components/_grid-5.scss */
  .large-offset-9 {
    margin-left: 75%;
  }

  /* line 194, ../sass/foundation/components/_grid-5.scss */
  .large-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 194, ../sass/foundation/components/_grid-5.scss */
  .large-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 198, ../sass/foundation/components/_grid-5.scss */
  .large-push-1 {
    left: 8.33333%;
    right: auto;
  }

  /* line 199, ../sass/foundation/components/_grid-5.scss */
  .large-pull-1 {
    right: 8.33333%;
    left: auto;
  }

  /* line 198, ../sass/foundation/components/_grid-5.scss */
  .large-push-2 {
    left: 16.66667%;
    right: auto;
  }

  /* line 199, ../sass/foundation/components/_grid-5.scss */
  .large-pull-2 {
    right: 16.66667%;
    left: auto;
  }

  /* line 198, ../sass/foundation/components/_grid-5.scss */
  .large-push-3 {
    left: 25%;
    right: auto;
  }

  /* line 199, ../sass/foundation/components/_grid-5.scss */
  .large-pull-3 {
    right: 25%;
    left: auto;
  }

  /* line 198, ../sass/foundation/components/_grid-5.scss */
  .large-push-4 {
    left: 33.33333%;
    right: auto;
  }

  /* line 199, ../sass/foundation/components/_grid-5.scss */
  .large-pull-4 {
    right: 33.33333%;
    left: auto;
  }

  /* line 198, ../sass/foundation/components/_grid-5.scss */
  .large-push-5 {
    left: 41.66667%;
    right: auto;
  }

  /* line 199, ../sass/foundation/components/_grid-5.scss */
  .large-pull-5 {
    right: 41.66667%;
    left: auto;
  }

  /* line 198, ../sass/foundation/components/_grid-5.scss */
  .large-push-6 {
    left: 50%;
    right: auto;
  }

  /* line 199, ../sass/foundation/components/_grid-5.scss */
  .large-pull-6 {
    right: 50%;
    left: auto;
  }

  /* line 198, ../sass/foundation/components/_grid-5.scss */
  .large-push-7 {
    left: 58.33333%;
    right: auto;
  }

  /* line 199, ../sass/foundation/components/_grid-5.scss */
  .large-pull-7 {
    right: 58.33333%;
    left: auto;
  }

  /* line 198, ../sass/foundation/components/_grid-5.scss */
  .large-push-8 {
    left: 66.66667%;
    right: auto;
  }

  /* line 199, ../sass/foundation/components/_grid-5.scss */
  .large-pull-8 {
    right: 66.66667%;
    left: auto;
  }

  /* line 198, ../sass/foundation/components/_grid-5.scss */
  .large-push-9 {
    left: 75%;
    right: auto;
  }

  /* line 199, ../sass/foundation/components/_grid-5.scss */
  .large-pull-9 {
    right: 75%;
    left: auto;
  }

  /* line 198, ../sass/foundation/components/_grid-5.scss */
  .large-push-10 {
    left: 83.33333%;
    right: auto;
  }

  /* line 199, ../sass/foundation/components/_grid-5.scss */
  .large-pull-10 {
    right: 83.33333%;
    left: auto;
  }

  /* line 198, ../sass/foundation/components/_grid-5.scss */
  .large-push-11 {
    left: 91.66667%;
    right: auto;
  }

  /* line 199, ../sass/foundation/components/_grid-5.scss */
  .large-pull-11 {
    right: 91.66667%;
    left: auto;
  }

  /* line 203, ../sass/foundation/components/_grid-5.scss */
  .column.large-centered,
  .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }

  /* line 206, ../sass/foundation/components/_grid-5.scss */
  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important;
  }
}
@media only screen and (max-width: 767px) {
  /* line 128, ../sass/foundation/components/_dropdown.scss */
  .f-dropdown {
    max-width: 100%;
    left: 0;
  }
}
/* Foundation Dropdowns */
/* line 135, ../sass/foundation/components/_dropdown.scss */
.f-dropdown {
  position: absolute;
  top: -9999px;
  list-style: none;
  margin-left: 0;
  width: 100%;
  max-height: none;
  height: auto;
  background: white;
  border: solid 1px #cccccc;
  font-size: 16px;
  z-index: 99;
  margin-top: 2px;
  max-width: 200px;
}
/* line 50, ../sass/foundation/components/_dropdown.scss */
.f-dropdown > *:first-child {
  margin-top: 0;
}
/* line 51, ../sass/foundation/components/_dropdown.scss */
.f-dropdown > *:last-child {
  margin-bottom: 0;
}
/* line 76, ../sass/foundation/components/_dropdown.scss */
.f-dropdown:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 6px;
  border-color: transparent transparent white transparent;
  border-bottom-style: solid;
  position: absolute;
  top: -12px;
  left: 10px;
  z-index: 99;
}
/* line 83, ../sass/foundation/components/_dropdown.scss */
.f-dropdown:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 7px;
  border-color: transparent transparent #cccccc transparent;
  border-bottom-style: solid;
  position: absolute;
  top: -14px;
  left: 9px;
  z-index: 98;
}
/* line 91, ../sass/foundation/components/_dropdown.scss */
.f-dropdown.right:before {
  left: auto;
  right: 10px;
}
/* line 95, ../sass/foundation/components/_dropdown.scss */
.f-dropdown.right:after {
  left: auto;
  right: 9px;
}
/* line 139, ../sass/foundation/components/_dropdown.scss */
.f-dropdown li {
  font-size: 0.875em;
  cursor: pointer;
  line-height: 1.125em;
  margin: 0;
}
/* line 115, ../sass/foundation/components/_dropdown.scss */
.f-dropdown li:hover, .f-dropdown li:focus {
  background: #eeeeee;
}
/* line 117, ../sass/foundation/components/_dropdown.scss */
.f-dropdown li a {
  display: block;
  padding: 0.5em;
  color: #555555;
}
/* line 142, ../sass/foundation/components/_dropdown.scss */
.f-dropdown.content {
  position: absolute;
  top: -9999px;
  list-style: none;
  margin-left: 0;
  padding: 1.25em;
  width: 100%;
  height: auto;
  max-height: none;
  background: white;
  border: solid 1px #cccccc;
  font-size: 16px;
  z-index: 99;
  max-width: 200px;
}
/* line 50, ../sass/foundation/components/_dropdown.scss */
.f-dropdown.content > *:first-child {
  margin-top: 0;
}
/* line 51, ../sass/foundation/components/_dropdown.scss */
.f-dropdown.content > *:last-child {
  margin-bottom: 0;
}
/* line 145, ../sass/foundation/components/_dropdown.scss */
.f-dropdown.tiny {
  max-width: 200px;
}
/* line 146, ../sass/foundation/components/_dropdown.scss */
.f-dropdown.small {
  max-width: 300px;
}
/* line 147, ../sass/foundation/components/_dropdown.scss */
.f-dropdown.medium {
  max-width: 500px;
}
/* line 148, ../sass/foundation/components/_dropdown.scss */
.f-dropdown.large {
  max-width: 800px;
}

/* Panels */
/* line 66, ../sass/foundation/components/_panels.scss */
.panel {
  border-style: solid;
  border-width: 1px;
  border-color: #d9d9d9;
  margin-bottom: 1.25em;
  padding: 1.25em;
  background: #f2f2f2;
}
/* line 44, ../sass/foundation/components/_panels.scss */
.panel > :first-child {
  margin-top: 0;
}
/* line 45, ../sass/foundation/components/_panels.scss */
.panel > :last-child {
  margin-bottom: 0;
}
/* line 50, ../sass/foundation/components/_panels.scss */
.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .panel p {
  color: #333333;
}
/* line 54, ../sass/foundation/components/_panels.scss */
.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6 {
  line-height: 1;
  margin-bottom: 0.625em;
}
/* line 56, ../sass/foundation/components/_panels.scss */
.panel h1.subheader, .panel h2.subheader, .panel h3.subheader, .panel h4.subheader, .panel h5.subheader, .panel h6.subheader {
  line-height: 1.4;
}
/* line 68, ../sass/foundation/components/_panels.scss */
.panel.callout {
  border-style: solid;
  border-width: 1px;
  border-color: #e94001;
  margin-bottom: 1.25em;
  padding: 1.25em;
  background: #fe5c1f;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
/* line 44, ../sass/foundation/components/_panels.scss */
.panel.callout > :first-child {
  margin-top: 0;
}
/* line 45, ../sass/foundation/components/_panels.scss */
.panel.callout > :last-child {
  margin-bottom: 0;
}
/* line 50, ../sass/foundation/components/_panels.scss */
.panel.callout h1, .panel.callout h2, .panel.callout h3, .panel.callout h4, .panel.callout h5, .panel.callout h6, .panel.callout p {
  color: #333333;
}
/* line 54, ../sass/foundation/components/_panels.scss */
.panel.callout h1, .panel.callout h2, .panel.callout h3, .panel.callout h4, .panel.callout h5, .panel.callout h6 {
  line-height: 1;
  margin-bottom: 0.625em;
}
/* line 56, ../sass/foundation/components/_panels.scss */
.panel.callout h1.subheader, .panel.callout h2.subheader, .panel.callout h3.subheader, .panel.callout h4.subheader, .panel.callout h5.subheader, .panel.callout h6.subheader {
  line-height: 1.4;
}
/* line 71, ../sass/foundation/components/_panels.scss */
.panel.callout a {
  color: white;
}
/* line 76, ../sass/foundation/components/_panels.scss */
.panel.radius {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 37, ../sass/app2.scss */
.top-bar-section {
  max-width: 62.5em;
  margin: auto;
}
/* line 41, ../sass/app2.scss */
.top-bar-section ul li.active > a:hover {
  background: inherit;
  cursor: default;
}

/* line 47, ../sass/app2.scss */
html, body {
  height: 100%;
}

/* line 50, ../sass/app2.scss */
#wrapper {
  min-height: 100%;
  margin-bottom: -12.5em;
}
/* line 54, ../sass/app2.scss */
#wrapper:before {
  content: "";
  position: absolute;
  display: block;
  max-width: 62.5em;
  background: white;
  width: 100%;
  padding: 0 0.9375em;
  box-sizing: border-box;
  bottom: 0;
  top: 120px;
  z-index: -5;
}
@media only screen and (min-width: 62.5em) {
  /* line 54, ../sass/app2.scss */
  #wrapper:before {
    left: 50%;
    margin-left: -31.25em;
  }
}
/* line 74, ../sass/app2.scss */
#wrapper:after {
  content: "";
  display: block;
  height: 12.5em;
}

/* line 81, ../sass/app2.scss */
body {
  background: #fff9e3;
}

/* line 85, ../sass/app2.scss */
header {
  background: #fe5c1f;
  clear: both;
}

/* line 90, ../sass/app2.scss */
#wrapper > section {
  max-width: 62.5em;
  margin: auto;
  padding: 0.625em 0.9375em 1.25em 0.9375em;
  min-height: 100%;
  background: white;
  word-wrap: break-word;
}

/* line 103, ../sass/app2.scss */
#content p, #content li {
  font-size: 0.875em;
}
/* line 107, ../sass/app2.scss */
#content ul {
  list-style-position: inside;
}
/* line 111, ../sass/app2.scss */
#content img {
  margin-bottom: 0.8em;
}

/* line 116, ../sass/app2.scss */
footer {
  background: #3a393a;
  color: white;
  height: 21.875em;
}
@media only screen and (min-width: 768px) {
  /* line 116, ../sass/app2.scss */
  footer {
    height: 12.5em;
  }
}
/* line 123, ../sass/app2.scss */
footer h5 {
  color: white;
}
/* line 126, ../sass/app2.scss */
footer p {
  text-align: center;
  margin: auto;
  color: white;
  padding: 10px 0;
  font-size: 0.9em;
}

/* line 135, ../sass/app2.scss */
header .logo {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  /* line 135, ../sass/app2.scss */
  header .logo {
    height: 80px;
    background: url("../../images/header_separator.png") center right no-repeat;
  }
}
/* line 141, ../sass/app2.scss */
header .logo h1 {
  font-size: 1em;
  margin: 0;
  margin: 18px 0;
}

/* line 148, ../sass/app2.scss */
header .search {
  background: #fff;
  padding-top: 20px;
}
@media only screen and (min-width: 768px) {
  /* line 148, ../sass/app2.scss */
  header .search {
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;
    background: url("../../images/header_separator2.png") center right no-repeat white;
  }
}

/* line 159, ../sass/app2.scss */
.diary-week {
  font-size: 0.9em;
}

/* line 166, ../sass/app2.scss */
#account-link img {
  margin-right: 3px;
  box-shadow: 0 0 3px #fff;
  margin-top: -7px;
  margin-bottom: -4px;
}

/* line 173, ../sass/app2.scss */
ul.topbar-dropdown {
  position: absolute;
  top: -9999px;
  list-style: none;
  margin-left: 0;
  width: 100%;
  max-height: none;
  height: auto;
  background: white;
  border: solid 1px #cccccc;
  font-size: 16px;
  z-index: 99;
  margin-top: 2px;
  max-width: 300px;
  margin: 0;
  width: auto;
  list-style: none;
}
/* line 50, ../sass/foundation/components/_dropdown.scss */
ul.topbar-dropdown > *:first-child {
  margin-top: 0;
}
/* line 51, ../sass/foundation/components/_dropdown.scss */
ul.topbar-dropdown > *:last-child {
  margin-bottom: 0;
}
/* line 76, ../sass/foundation/components/_dropdown.scss */
ul.topbar-dropdown:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 6px;
  border-color: transparent transparent white transparent;
  border-bottom-style: solid;
  position: absolute;
  top: -12px;
  left: 10px;
  z-index: 99;
}
/* line 83, ../sass/foundation/components/_dropdown.scss */
ul.topbar-dropdown:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 7px;
  border-color: transparent transparent #cccccc transparent;
  border-bottom-style: solid;
  position: absolute;
  top: -14px;
  left: 9px;
  z-index: 98;
}
/* line 91, ../sass/foundation/components/_dropdown.scss */
ul.topbar-dropdown.right:before {
  left: auto;
  right: 10px;
}
/* line 95, ../sass/foundation/components/_dropdown.scss */
ul.topbar-dropdown.right:after {
  left: auto;
  right: 9px;
}
/* line 179, ../sass/app2.scss */
ul.topbar-dropdown a {
  padding: 0.2em 0.8em;
  display: block;
}
/* line 182, ../sass/app2.scss */
ul.topbar-dropdown a:hover {
  background: #eee;
}

/* line 189, ../sass/app2.scss */
#login-dropdown {
  width: 300px;
  background: #666666;
  color: white;
  font-size: 0.8em;
  padding-top: 1em;
}
/* line 196, ../sass/app2.scss */
#login-dropdown a, #login-dropdown label {
  color: white;
  font-size: 1em;
}
/* line 201, ../sass/app2.scss */
#login-dropdown .button {
  margin-bottom: 0;
}

/* line 206, ../sass/app2.scss */
#header-bar {
  background: #3a393a;
}
/* line 209, ../sass/app2.scss */
#header-bar section {
  max-width: 62.5em;
  margin: auto;
}
/* line 213, ../sass/app2.scss */
#header-bar section:after {
  content: " ";
  clear: both;
  height: 0;
  display: block;
}
/* line 221, ../sass/app2.scss */
#header-bar section > ul {
  margin: 0;
}
/* line 224, ../sass/app2.scss */
#header-bar section > ul > li {
  color: white;
  display: block;
  float: left;
}
/* line 227, ../sass/app2.scss */
#header-bar section > ul > li > a {
  color: white;
  display: inline-block;
  padding: 7px 15px;
  font-size: 0.8em;
  font-weight: bold;
}
/* line 234, ../sass/app2.scss */
#header-bar section > ul > li > a.icon-link {
  padding: 7px 3px;
}
/* line 237, ../sass/app2.scss */
#header-bar section > ul > li > a.icon-link:hover {
  filter: brightness(1.5);
  -webkit-filter: brightness(1.5);
  -moz-filter: brightness(1.5);
  -o-filter: brightness(1.5);
  -ms-filter: brightness(1.5);
}
/* line 243, ../sass/app2.scss */
#header-bar section > ul > li#login-link {
  padding-right: 5px;
}
/* line 246, ../sass/app2.scss */
#header-bar section > ul > li#login-link > a {
  padding-right: 5px;
}
/* line 251, ../sass/app2.scss */
#header-bar section > ul > li:hover {
  background: #666666;
}

/* line 261, ../sass/app2.scss */
table {
  border-collapse: collapse;
  width: 100%;
}

/* line 266, ../sass/app2.scss */
#nav-edit-link {
  line-height: inherit;
  padding-top: 0.7em;
}
/* line 269, ../sass/app2.scss */
#nav-edit-link i {
  font-size: 1.5em;
}

/* line 274, ../sass/app2.scss */
.error_panel {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(151, 11, 14, 0.1);
  margin-bottom: 1.25em;
  padding: 1.25em;
  background: rgba(198, 15, 19, 0.1);
}
/* line 44, ../sass/foundation/components/_panels.scss */
.error_panel > :first-child {
  margin-top: 0;
}
/* line 45, ../sass/foundation/components/_panels.scss */
.error_panel > :last-child {
  margin-bottom: 0;
}
/* line 51, ../sass/foundation/components/_panels.scss */
.error_panel h1, .error_panel h2, .error_panel h3, .error_panel h4, .error_panel h5, .error_panel h6, .error_panel p {
  color: red;
}
/* line 54, ../sass/foundation/components/_panels.scss */
.error_panel h1, .error_panel h2, .error_panel h3, .error_panel h4, .error_panel h5, .error_panel h6 {
  line-height: 1;
  margin-bottom: 0.625em;
}
/* line 56, ../sass/foundation/components/_panels.scss */
.error_panel h1.subheader, .error_panel h2.subheader, .error_panel h3.subheader, .error_panel h4.subheader, .error_panel h5.subheader, .error_panel h6.subheader {
  line-height: 1.4;
}

/* line 278, ../sass/app2.scss */
#dev-warning {
  background: #ffdddd;
  text-align: center;
  padding: 0.1em 1em;
  font-size: 0.9em;
}
/* line 284, ../sass/app2.scss */
#dev-warning h3 {
  color: #a00;
}
