/* line 264, ../sass/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "only screen and (min-width: 768px)";
  width: 768px;
}

/* line 269, ../sass/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "only screen and (min-width:1280px)";
  width: 1280px;
}

/* line 274, ../sass/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "only screen and (min-width:1440px)";
  width: 1440px;
}

/* line 9, ../sass/entities.scss */
.vacancies-panel {
  border-style: solid;
  border-width: 1px;
  border-color: #ffe966;
  margin-bottom: 1.25em;
  padding: 1em 2em;
  background: #fff099;
  border-radius: 10px;
}
/* line 44, ../sass/foundation/components/_panels.scss */
.vacancies-panel > :first-child {
  margin-top: 0;
}
/* line 45, ../sass/foundation/components/_panels.scss */
.vacancies-panel > :last-child {
  margin-bottom: 0;
}

/* line 14, ../sass/entities.scss */
.admin-panel {
  border-style: solid;
  border-width: 1px;
  border-color: #ffe295;
  margin-bottom: 1.25em;
  padding: 1em 2em;
  background: #fff0c8;
}
/* line 44, ../sass/foundation/components/_panels.scss */
.admin-panel > :first-child {
  margin-top: 0;
}
/* line 45, ../sass/foundation/components/_panels.scss */
.admin-panel > :last-child {
  margin-bottom: 0;
}
/* line 17, ../sass/entities.scss */
.admin-panel li a.active {
  color: black;
  cursor: default;
}

/* line 23, ../sass/entities.scss */
.approve-panel {
  border-style: solid;
  border-width: 1px;
  border-color: #ffff31;
  margin-bottom: 1.25em;
  padding: 1em;
  background: #ffff64;
}
/* line 44, ../sass/foundation/components/_panels.scss */
.approve-panel > :first-child {
  margin-top: 0;
}
/* line 45, ../sass/foundation/components/_panels.scss */
.approve-panel > :last-child {
  margin-bottom: 0;
}

/* line 27, ../sass/entities.scss */
.news-link {
  border-style: solid;
  border-width: 1px;
  border-color: #cdcdcd;
  margin-bottom: 1.25em;
  padding: 1em;
  background: #e6e6e6;
  margin-bottom: 10px;
  font-size: 0.8em;
}
/* line 44, ../sass/foundation/components/_panels.scss */
.news-link > :first-child {
  margin-top: 0;
}
/* line 45, ../sass/foundation/components/_panels.scss */
.news-link > :last-child {
  margin-bottom: 0;
}
/* line 32, ../sass/entities.scss */
.news-link h6 {
  margin: 0;
}

/* line 37, ../sass/entities.scss */
.show-society {
  font-style: italic;
  margin-bottom: 0.7em;
}
