/* line 1, ../sass/forms.scss */
label.required:after {
  content: "*";
}

/* line 3, ../sass/forms.scss */
select {
  width: auto;
  background: #fff;
  padding: 6px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #cccccc;
}

/* line 14, ../sass/forms.scss */
.dropdown.custom {
  float: left;
}

/* line 18, ../sass/forms.scss */
.entity_collection > div:last-child {
  border-bottom: 1px solid #ddd;
}

/* line 22, ../sass/forms.scss */
.entity_collection > div {
  border-top: 1px solid #ddd;
  padding: 10px 0 0;
}

/* line 27, ../sass/forms.scss */
input[type=date], input[type=time] {
  width: auto;
  display: -webkit-inline-flex;
}

/* line 31, ../sass/forms.scss */
input[type=date] {
  max-width: 150px;
}

/* line 34, ../sass/forms.scss */
input[type=time] {
  max-width: 120px;
}

/* line 38, ../sass/forms.scss */
textarea {
  height: 10em;
}

/* line 42, ../sass/forms.scss */
.form_map_container {
  margin-bottom: 12px;
}
/* line 45, ../sass/forms.scss */
.form_map_container small {
  text-align: right;
  display: block;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 8px;
  color: #777;
}

/* line 55, ../sass/forms.scss */
.form_map {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
}

/* line 62, ../sass/forms.scss */
.no-js .form_map {
  display: none;
}
/* line 65, ../sass/forms.scss */
.no-js .form_map_container small {
  display: none;
}
/* line 68, ../sass/forms.scss */
.no-js .form_map_container img {
  max-width: none;
}

@media only screen and (max-width: 768px) {
  /* line 74, ../sass/forms.scss */
  label.right {
    float: none !important;
    text-align: left;
  }
}
