/* line 264, ../sass/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "only screen and (min-width: 768px)";
  width: 768px;
}

/* line 269, ../sass/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "only screen and (min-width:1280px)";
  width: 1280px;
}

/* line 274, ../sass/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "only screen and (min-width:1440px)";
  width: 1440px;
}

/* line 4, ../sass/home.scss */
#home_statistics p {
  text-align: center;
  font-style: italic;
  line-height: 150%;
}

/* line 9, ../sass/home.scss */
#home_statistics strong {
  font-size: 150%;
}

/* line 13, ../sass/home.scss */
#home_vacancies ul {
  border-top: 1px solid #eee;
  list-style: none;
  margin: 0;
  margin-bottom: 0.8em;
}

/* line 19, ../sass/home.scss */
#home_vacancies li {
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}

/* line 24, ../sass/home.scss */
#home_historic dd a {
  padding: 0 5px;
}

/* line 28, ../sass/home.scss */
#home_historic ul {
  list-style: none;
  margin: 0;
}

/* line 33, ../sass/home.scss */
#home_historic h6 {
  margin-bottom: 0;
}

/* line 37, ../sass/home.scss */
#home_historic .show_info {
  font-style: italic;
}

/* line 41, ../sass/home.scss */
#home-diary-container {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  position: relative;
  margin-bottom: 1em;
}
/* line 47, ../sass/home.scss */
#home-diary-container .left-link {
  position: absolute;
  left: 0;
  width: 1.5625em;
  font-size: 1.5em;
  font-weight: bold;
  z-index: 10;
  background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, white 50%, white 100%);
  background: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%, white 50%, white 100%);
  background: -ms-linear-gradient(right, rgba(255, 255, 255, 0) 0%, white 50%, white 100%);
  background: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, white 50%, white 100%);
}
/* line 50, ../sass/home.scss */
#home-diary-container .left-link a {
  padding-top: 0.3em;
  height: 1.7em;
  display: block;
  float: left;
}
/* line 66, ../sass/home.scss */
#home-diary-container .right-link {
  position: absolute;
  right: 0;
  width: 1.5625em;
  font-size: 1.5em;
  font-weight: bold;
  z-index: 10;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 50%, white 100%);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 50%, white 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 50%, white 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 50%, white 100%);
}
/* line 69, ../sass/home.scss */
#home-diary-container .right-link a {
  padding-top: 0.3em;
  height: 1.7em;
  display: block;
  float: right;
}
/* line 85, ../sass/home.scss */
#home-diary-container .overlay {
  opacity: 0.5;
  display: none;
  position: absolute;
  width: 100%;
  background: white;
  z-index: 10;
}
/* line 93, ../sass/home.scss */
#home-diary-container .overlay .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1em;
  margin-top: -1em;
}
/* line 99, ../sass/home.scss */
#home-diary-container .overlay .spinner i {
  font-size: 2em;
}

/* line 106, ../sass/home.scss */
#home-diary {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
/* line 110, ../sass/home.scss */
#home-diary .diary-week {
  min-width: 900px;
}

/* line 115, ../sass/home.scss */
#home-diary-nav {
  overflow: hidden;
}

/* line 118, ../sass/home.scss */
#home-diary-nav ul {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  width: 3000px;
}

/* line 124, ../sass/home.scss */
#home-diary-nav li {
  display: inline-block;
  font-size: 0.8em;
}
/* line 128, ../sass/home.scss */
#home-diary-nav li a {
  padding: 0 0.8em;
  display: block;
}
/* line 133, ../sass/home.scss */
#home-diary-nav li em {
  display: block;
  color: #555;
}
/* line 138, ../sass/home.scss */
#home-diary-nav li.diary-link {
  width: 7em;
  text-align: center;
  font-style: italic;
  white-space: normal;
}
/* line 145, ../sass/home.scss */
#home-diary-nav li.current {
  background: #eee;
}
/* line 147, ../sass/home.scss */
#home-diary-nav li.current a {
  cursor: default;
}
